# Go specific ignores
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/Godeps/
demo.tape
RottenTomatoesCLI

# Python specific ignores
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/rtenv/
/RottenTomatoesCLIRawPython/

# Specific to this project
rt-tui/rotten
rt-tui/rt-tui
debug_*.txt
debug_*.html

# Editor files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db